*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


body{
    background: radial-gradient(circle, rgba(23,21,24,1) 19%, rgba(0,0,0,0.9920343137254902) 100%);
}

#cabecalho-navegacao a:hover{
    color: white;
    background-color: #313436;
    padding: 5px;
    border-radius: 5px;
    transition: 0.1s;
}

.cl-red{
    color: red;
}

#cabecalho{
    border-bottom: 1px solid white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

#cabecalho-navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    gap: 20px;
}

#cabecalho-navegacao a{
    color:  white;
}


#cabecalho-titulo{
    font-weight: bold;
    color: #fff;
}

.container-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    width: 400px;
    height: 200px;
    margin: 25px;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.01);
    transition: 0.5s;
    cursor: pointer;
}

.card-header {
    width: 400px;
    height: 150px;
}

.card-img {
    width: 400px;
    height: 140px;
}

.card-body {
    text-align: center;
    font-family: sans-serif;
}

.card-title {
    font-size: 25px;
    color: white;
}

.card-subtitle {
    font-size: 15px;
    color: white;
}

#rodape{
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#rodape-conteudo{
    color: white;
    margin: 35px 0;
}