*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #000000, #181617, #292528,
    #39353b, #48464f, #48464f, #48464f, #48464f, #39353b,
    #292528, #181617, #000000);
}

#navegacao a{
    color:  white;
    padding: 5px;
}

#navegacao a:hover{
    background-color: #797d80;
    border-radius: 5px;
    transition: 0.1s;
}

.cl-red{
    color: red;
}

#cabecalho{
    border-bottom: 1px solid white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

#navegacao{
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 10px;
}

#navegacao a{
    font-size: 15px;
}

@media screen and (max-width: 900px){
    nav#navegacao a{
        margin: 0;
        font-size: 13px;
    }
    #cabecalho h1{
        font-size: 25px;
    }
    #cabecalho{
        flex-wrap: wrap;
        align-items: center;
    }
    .container-wrap {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .card {
        width: 250px;
        height: 100px;
        margin: 20px;
        background-color: black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .card-header, .card-img {
        width: 250px;
        height: 100px;
    }
}

#cabecalho-titulo{
    font-weight: bold;
    color: #fff;
}

.container-wrap {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    width: 350px;
    height: 200px;
    margin: 25px;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.01);
    transition: 0.5s;
    cursor: pointer;
}

.card-header, .card-img {
    width: 350px;
    height: 140px;
}

.card-body {
    text-align: center;
    font-family: sans-serif;
}

.card-title {
    font-size: 25px;
    color: white;
}

.card-subtitle {
    font-size: 15px;
    color: white;
}

#rodape{
    margin-top: auto;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#rodape-conteudo{
    color: white;
    margin: 31px 0;
}

@media screen and (max-width: 450px){
    nav#navegacao a{
        margin: 0;
        font-size: 12px;
    }
    #cabecalho h1{
        font-size: 22px;
    }
    #cabecalho{
        flex-wrap: wrap;
        align-items: center;
    }
    .container-wrap {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .card {
        width: 350px;
        height: 210px;
        margin: 20px;
        background-color: black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .card-header, .card-img {
        width: 350px;
        height: 150px;
    }

    .card-body {
        text-align: center;
        font-family: sans-serif;
    }
    
    .card-title {
        margin-top: 10px;
        font-size: 15px;
        color: white;
    }
    
    .card-subtitle {
        font-size: 12px;
        color: white;
    }
}

@media screen and (max-width: 280px){
    nav#navegacao a{
        margin: 0;
        font-size: 8px;
    }
    #cabecalho h1{
        font-size: 20px;
    }
    #cabecalho{
        flex-wrap: wrap;
        align-items: center;
    }
    .container-wrap {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .card {
        width: 250px;
        height: 160px;
        margin: 20px;
        background-color: black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .card-header, .card-img {
        width: 250px;
        height: 110px;
    }

    .card-body {
        text-align: center;
        font-family: sans-serif;
    }
    
    .card-title {
        margin-top: 10px;
        font-size: 15px;
        color: white;
    }
    
    .card-subtitle {
        font-size: 12px;
        color: white;
    }
}


/*************PAGINA GQ***************/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

.subtitle {
    color: white;
    text-align: center;
    margin: 20px 0;
} 

p {
    margin: 5px 0 10px 0 ;
    color: white;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.container-content {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
